/* Error: Undefined variable.
 *    ,
 * 12 |     font-family: $font-primary;
 *    |                  ^^^^^^^^^^^^^
 *    '
 *   frontend\scss\bases\_generales.scss 12:18  @use
 *   frontend\scss\style.scss 4:1               root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 12 \2502      font-family: $font-primary;\d\a    \2502                   ^^^^^^^^^^^^^\a    \2575 \a   frontend\\scss\\bases\\_generales.scss 12:18  @use\a   frontend\\scss\\style.scss 4:1               root stylesheet";
}
