@use 'bases/variables' as *;

.barra-navegacion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $spacing-base;
    background-color: $color-background;
    position: relative; // Para posicionar el h2 absolutamente

    .nav-logo {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none; // in case the link affects it

        img {
            width: 100px;
        }

        .logo-text {
            font-size: 0.9rem;
            font-weight: bold;
            color: $color-text;
            margin-top: 5px;
            font-family: 'Indie Flower', cursive;
        }
    }

    h2 {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        font-family: $font-primary; // Asegurar tipografía
        color: $color-text;
        margin: 0;
        white-space: nowrap; // Evitar saltos de línea indeseados
    }

    .nav-links {
        display: flex;
        gap: $spacing-base;
        list-style: none;

        a {
            color: $color-text;
            font-size: $font-size-lg;
            font-family: $font-primary;
            text-decoration: none;
        }
    }
}