@use 'bases/variables' as *;

.barra-navegacion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $spacing-base;
    background-color: $color-background;

    .nav-logo {
        img {
            width: 100px;
        }
    }

    .nav-links {
        display: flex;
        gap: $spacing-base;
        list-style: none;
        color: $color-text;
        font-size: $font-size-base;
        font-family: $font-primary;
    }
}