//Extends
@use 'variables' as *;


//============================
// Botones
//============================

%boton-base {
    width: 100%;
    padding: 1rem;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    display: inline-block;
}


//============================
// Parrafos
//============================

//parrafo base placeholder
%parrafo-base {
    font-family: 'Nunito', sans-serif;
    border-radius: 10px;
    padding: 1rem;
    color: $color-text;
    font-size: 1.1rem;
    font-weight: 600;
    cursor: auto;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
    position: relative;
    overflow: hidden;
    text-align: center;
    display: inline-block;
}

//============================
// Listados
//============================

%listado-base {
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: 'Nunito', sans-serif;
    font-size: 1.1rem;
    font-weight: 600;
    cursor: auto;
    text-align: center;
    display: inline-flex;
}